{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{{block.super}} | Products
{% endblock %}

{% block content %}
	<div class="app-main__inner">
        <div class="app-page-title pt-18">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="card-body p-0">
                        <div class="mr-2 btn-group">
                            <h5 style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Product List</h5>
                        </div>
                    </div>
                </div>
                <div class="page-title-actions">
                    <div class="d-inline-block">
                        <a class="mb-2 mr-2 btn btn-primary color-white" href="{% url 'cart:product_create' %}">
                            <span class="btn-icon-wrapper pr-2 opacity-7">
                                <i class="fas fa-plus"></i>
                            </span>
                            New Product
                        </a>
                    </div>
                </div>  
            </div>
        </div>

        <!-- <div class="row mb-3">
        	<div class="col-md-2">
        		<h6>Total Products</h6>
        		<h4 class="bold text-primary">75</h4>
        	</div>
        	<div class="col-md-2">
        		<h6>Out of Stock</h6>
        		<h4 class="bold text-primary">2</h4>
        	</div>
        	<div class="col-md-2">
        		<h6>Total Items</h6>
        		<h4 class="bold text-primary">320</h4>
        	</div>
        	<div class="col-md-2">
        		<h6>Categories</h6>
        		<h4 class="bold text-primary">5</h4>
        	</div>
        </div> -->
        
        <div class="row">
            {% for product in object_list %}
			<div class="pb-20 col-sm-6 col-md-4 col-lg-3">
				<div class="product text-center">
					<a href="#" class="img-prod btn-open-options" id={{product.pk}}>
						<div class="product-card__image__background" style="background-color: rgb(217 37 80);"></div>
						<img class="img-fluid product-img" src="{{product.photos.all.0.photo.url}}" alt="Colorlib Template">
						<div class="overlay"></div>
					</a>
					<div class="text pt-3 px-3 text-left">
						<p class="product-title">{{product.name}}</p>	
						<p class="product-desc mb-0">0 sales</p>
					</div>
                    <div class="text py-3 px-3 text-left">
                        <a href="#" class="img-prod btn-open-options" id="{{product.pk}}">
                            <button class="btn btn-success"><i class="lni lni-chevron-right"></i></button>
                        </a>
                        <a href="#" data-id="{{product.id}}" class="js-toggle-cart">
                            <button class="btn btn-danger"><i class="lni lni-trash"></i></button>
                        </a>
                    </div>
				</div>
            </div>
            {% endfor %}
		</div>

    </div>
    	
	


	<div class="ui-theme-settings">
        <div class="theme-settings__inner">
            <div class="scrollbar-container" id="product_detail">
                <div class="theme-settings__options-wrapper p-20">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="mb-3 card text-white card-body bg-success card-fa">
                                <i class="lni lni-cart"></i>
                            </div>
                        </div>
                        <div class="col-md-8 mt--10">
                            <p class="text-muted mb-0">Posted on: {{product.created_at|date}}</p>
                            <h5 class="bold">Product Name({{product.name}})</h5>
                        </div>
                        <div class="col-md-2">
                            <a class="btn-open-options" href="javascript:void(0);">
                                <i class="lni lni-close"></i>
                                <!-- <i class="fas fa-times font-22"></i> -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="cart js-cart">
        <div class="cart__header">
            <h1 class="cart__title font-18 fw-700">Delete Product</h1>
            <p class="cart__text">
                <a class="button button--light js-toggle-cart" href="#" title="Close cart">
                    <i class="fas fa-times" style="font-size: 22px;"></i>
                </a>
            </p>
        </div>
        <div class="modal-content pt-80">
            <div class="modal-body">
                <form class="form" id="deleteForm" action="" method="POST">
                    {% csrf_token %}
                    <div class="modal-body">
                        Are you sure you want to delete this product?
                    </div>
                    <div class="text-right">
                        <input type="submit" id="submit" class="btn btn-success" value="Proceed">
                        <a href="" class="btn btn-primary">Cancel</a>

                        <!-- <a href="{% url 'cart:categories' %}" class="btn btn-primary">Cancel</a> -->
                    </div>
                </form>
            </div>
        </div>
    </aside>
    
    <div class="lightbox js-lightbox js-toggle-cart"></div>
    {% endblock %}
    
    
    {% block js %}
<script>
        $(".img-prod").click( function(e) {
            e.preventDefault();
            var prod_id =  $(this).attr('id');
            console.log(prod_id);
            review_form(prod_id, $('#product_detail'));
        });

        function review_form(data, result_div){
            $.ajax({
            method: "GET",
            url: "{% url 'cart:get_product_details' %}",
            data: {'data':JSON.stringify(data)},
            success: function(response){
                console.log(result_div);
            result_div.html(response);
            }
            });
        }
</script>

<script type="text/javascript">
    var cartOpen = false;

    $('body').on('click', '.js-toggle-cart', toggleCart);

    function toggleCart(e) {
        var id = $(this).attr('data-id');
      e.preventDefault();
        $('#deleteForm').attr('action', "/shop/product/"+id+"/delete/");
      if(cartOpen) {
        closeCart();
        return;
      }
      openCart();
    }

    function openCart() {
      cartOpen = true;
      $('body').addClass('open');
    }

    function closeCart() {
      cartOpen = false;
      $('body').removeClass('open');
    }
</script>
{% endblock %}
