{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ block.super }} | Tag Form {% endblock %}

{% block content %}
<div class="app-main__inner">
    <div class="app-page-title pt-18">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="card-body p-0">
                    <div class="mr-2 btn-group">
                        <h5 style="font-size: 18px;font-weight: 700;padding-bottom: 10px;">Tag {% if object %}Update{% else %}Create{% endif %} &emsp;| &emsp;</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body">
            <form class="form" role="form" action="{% if object %}{% url 'cart:tag_update' object.id %}{% else %}{% url 'cart:tag_create' %}{% endif %}" method="POST">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 mb-3">
                        <label for="{{ form.title.id_for_label }}"><span class="control-label">Tag Title</span></label>
                        {{form.title}}
                    </div>
                    <div class="col-xs-12 text-right">
                        <button class="btn ink-reaction btn-primary btn-raised" type="submit">{% if object %}Update{% else %}Create{% endif %}</button>
                        <a href="/shop/tag/" class="btn btn-danger">Cancel</a>    
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
