<div class="modal-body plr-7">
    <div class="text-center mb-30">
        <h3 class="text-brown d-inline mx-auto font-weight-bold text-uppercase cart-title mb-5"><i class="lni lni-key"></i>&nbsp;Change Password</h3>
    </div>
    <form action="{% url 'account:change_password' %}" method="POST">{% csrf_token %}
        <div id="divCheckPasswordMatch" style="color:#ff0000">
        </div>
        <div class="order-form mt-5">
            <div class="form-group">
                <input type="hidden" value="{{ request.user }}" name="user">
                {{ form.as_p }}
            </div>
        </div>
        
        <div class="text-center pt-60">
            <a href="#" type="submit" id="submit" onclick="return Validate()" class="custom-btn effect01 text-center">
                <span>Update</span>
            </a>
            <a href="#" type="button" class="custom-btn effect01 text-center">
                <span>Cancel</span>
            </a>
        </div>
    </form>
</div>

    
<script type="text/javascript">
    function Validate() {
        var password = $("#pass").val();
        var confirmPassword = $("#confirmpass").val();

        if (password != confirmPassword) {
            $("#divCheckPasswordMatch").html("Passwords do not match!");
            return false;
        }else{
            return true;
        }
    };
</script>


