{% load staticfiles %}
<section class="ftco-section-parallax mt-60">
    <div class="parallax-img d-flex align-items-center background-green">
        <div class="container">
            <div class="row d-flex justify-content-center py-5">
                <div class="col-md-1 text-right">
                    <img class="d-small-none" src="https://cdn.shopify.com/s/files/1/2958/7314/files/icon-juice-outline_small.png?v=1521215935">
                </div>
                <div class="col-md-7">
                    <h6>GET THE SQUEEZE</h6>
                    <p>
                        Sign up to our newsletter.<br/> We'll keep you up-to-date on the latest news and exclusive offers!
                    </p>
                </div>
                <div class="col-md-3" style="padding-top: 30px;">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer ">
    <div class="container mb-30">
        <div class="row">
            <div class="col-md-3">
                <h6 class="mb-2">LOVE THE HUSTLE</h6>
                <p class="text-left mb-2">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> Gaavaa <br/>
                    All rights reserved.
                </p>
                <p class="text-left">
                    Developed & designed by <a href="https://ayata.com.np"></a>&nbsp;Ayata Inc.<br/>
                </p>
            </div>
            <div class="col-md-9">
                <h6 class="footer-title d-small-none">
                    We serve best products directly brewed from adventurous places in Nepal. Try our products in the most affordable price.
                </h6>
                <div class="row mt-5 s-mt-5">
                    <div class="col-6 s-plr-15 col-md-3">
                        <h6 class="font-14 fw-700 text-uppercase">Get in touch with us</h6>
                        <ul class="footer_ul_amrc pt-20">
                            <li><a href="">hi@gaavaa.com</a></li>
                            <li><a href="">+977 9818000000</a></li>
                        </ul>
                    </div>
                    <div class="col-6 s-plr-15 col-md-3">
                        <h6 class="font-14 fw-700 text-uppercase">Quick Links</h6>
                        <ul class="footer_ul_amrc pt-20">
                            <li><a href="">Login</a></li>
                            <li><a href="">Signup</a></li>
                            <li><a href="">Order Status</a></li>
                            <li><a href="">Terms of Service</a></li>
                            <li><a href="">Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-6 s-plr-15 col-md-3">
                        <h6 class="font-14 fw-700 text-uppercase">More</h6>
                        <ul class="footer_ul_amrc pt-20">
                            <li><a href="">About Us</a></li>
                            <li><a href="">Sustainability</a></li>
                            <li><a href="">Press</a></li>
                            <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 s-plr-15 col-md-3">
                        <h6 class="font-14 fw-700 text-uppercase">Payment Methods</h6>
                        <p class="font-12 pt-20">Our website is compatible with many popular payment methods.</p>

                        <div class="d-inline-block">
                            <img class="mx-50 mb-10" src="{% static 'frontend/img/esewa.png' %}">
                            <img class="mx-50 mb-10" src="{% static 'frontend/img/khalti.png' %}">
                            <br/>
                            <img class="mx-36" src="{% static 'frontend/img/payment/master.svg' %}">
                            <img class="mx-36" src="{% static 'frontend/img/payment/visa.svg' %}">
                            <img class="mx-50" src="{% static 'frontend/img/payment/paypal.svg' %}">
                        </div>
                    </div>
                </div>
                <h6 class="mt-30 font-12">
                    Products once sold will not be accepted unless damaged or expired. Please read our privacy policy and terms of use to learn more about our product policy.
                </h6>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'frontend/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'frontend/vendor/slick/slick/slick.min.js' %}"></script>
<script src="{% static 'frontend/vendor/aos-master/dist/aos.js' %}"></script>
<script src="{% static 'frontend/vendor/sweetalert/dist/sweetalert.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js" integrity="sha512-/bOVV1DV1AQXcypckRwsR9ThoCj7FqTV2/0Bm79bL3YSyLkVideFLE3MIZkq1u5t28ke1c0n31WYCOrO01dsUg==" crossorigin="anonymous"></script>
<script src="{% static 'frontend/js/main.js' %}"></script>
<script>
    AOS.init();
</script>

