{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="d-small-none d-800-none img-left-fixed" data-aos="fade-right" data-aos-duration="1500">
        <img class="mw-140" src="{% static 'frontend/img/story/section_03.png' %}">
    </div>
    <div class="d-small-none d-1200-none d-800-none img-right-fixed" data-aos="fade-left" data-aos-duration="1500">
        <img class="mw-140" src="{% static 'frontend/img/story/section_01.png' %}">
    </div>
    <div class="container mb-30 mt-70" data-aos="fade-down" data-aos-duration="1000">
        <div data-aos="fade-down" data-aos-duration="1000">
            <img src="{% static 'frontend/img/story/background.png' %}" style="max-width: 100%;">
        </div>
        <div class="story-landing-text text-left mt-60">
            <h1 class="text-anders text-brown">Gaavaa was founded to bring out the online markeptplace community of farmers, producers, distributors and consumers.</h1>
            <div class="row mt-30">
                <div class="col-12 col-sm-12 col-lg-6 col-md-6">
                    <p class="font-redish">
                        Realizing this gap in the Nepali market where the products are not finding a reliable platform to buy and sell food and agricultural products, especially from far away regions who don't have accessibility to many amenities. We envisioned to solve this through our joint efforts and network to make them available to the end consumers. Hence, gaavaa was incepted.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-lg-6 col-md-6">
                    <p class="font-redish">
                        The main goal of establishing a joint online marketplace is to bring out nepali harvested or natually available products to the cosumers in both national and international regions is to crate a convergant ecosystem for Nepali market. This will also solve social and economic problem that the farmers are facing.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="plr-7 mt-120 world-bg">
        <div class="container plr-10">
            <p class="mt-60">Packaged with loaded happiness & worthyness</p>
            <h1 class="font-44 mb-5">
                With every item you buy here, you will be selling happiness in return 
            </h1>
            <p class="font-redish fw-600">
                Gaavaa aims to achieve healthy food ecosystem. For if you want the best agri products with higher purchage value you will find it here and help a farmer in return with every purcahge in return.
            </p>
            <div class="text-right mb-60">
                <img src="https://packhelp.com/img/sustainability/trees-planted--icon-trees.svg" style="max-width: 200px;">
            </div>
        </div>
    </div>

    <div class="container mt-120 mb-120">
        <div class="row">
            <div class="col-md-6">
                <img class="img-420" src="{% static 'frontend/img/story/about-2.jpg' %}">
                <br>
                <img class="img-420 mt-30" src="{% static 'frontend/img/story/about-1.jpg' %}">
                <img class="bg-svg" src="https://packhelp.com/img/images/about-us/work-shape-1.svg">
            </div>
            <div class="col-md-6 mt-60"> 
                <h3>You and Gaavaa</h3>
                <p>
                    You can either be a local hero or a vassals of heros who support this agritech community to create an ecosystem  of healthy food environment from both production to consumption. Local heros gets encouragement to produce more and more of such products if you encourage them. And we give you our utmost support to make this movement possible. 
                </p>
                <div>
                    <img class="img-560" src="{% static 'frontend/img/story/bg_1.jpg' %}">
                    <img class="d-small-none bg-svg2" src="https://packhelp.com/img/images/about-us/work-shape-1.svg">
                </div>
            </div>
            
        </div>
    </div>

    <div class="container mb-30 mt-160 br-20" data-aos="fade-up" data-aos-duration="1000" style="background: #f8f8f8;">
        <div class="story-landing-text text-left mt-60 p-5">
            <h1 class="text-anders text-brown">The journey to revolution ...</h1>
            <div class="row mt-30">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="font-redish">
                        The agricultural sector is one of the few remaining sectors where e-commerce is yet to have a significant impact. There are several reasons for this: the agri supply chain is often controlled by well-entrenched intermediaries (middlemen); the logistical challenge of handling perishable products is complex; and most consumers still prefer to buy groceries in-person rather than online, given the inconsistent physical appearance of fresh produce, especially fruit and vegetables.
                    </p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <p class="font-redish">
                        Although we are building the initiatives for meeting our goals in the near future, our journey started years even before we've begun this venture. We grew up in farming communities facing and realizing those callenges in everyday basis. And thus this enlightment to create an impact directly for local farming communities in Nepal, so we've begun.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class=" mt-5" data-aos="fade-up" data-aos-duration="3000">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="align-self-center mx-auto text-left">
                        <div class="">
                            <div class="text-box">
                                <h3>Agri e-commerce</h3>
                            </div>
                        </div>
                        <p class="font-redish text-justify">
                            The buying and selling of agricultural produce online – can address notable challenges and inefficiencies in the agriculture supply chain by streamlining farmers’ access to the customer and creating new links between steps in the value chain. This is especially true in developing countries where online platforms can enable farmers to bypass intermediaries and sell directly to agri businesses, retailers, consumers and other customer groups, leading to increased efficiency of the supply chain and generating fairer incomes, as well as a transaction history for farmers. 

                            The expansion of a social group with a higher amount of disposable income leads to changing food consumption and lifestyle patterns, which agri e-commerce can meet through direct-to-consumer services. For instance, the middle class drives interest in ethically sourced local produce, as well as fresh and organic food. 
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock content %}


